$darker-color: #103150;
$dark-color: #144162;
$light-color: #FF916C;
$purple-color: #4D5DB5;
$white-color: #ffff;
$input-color: #1031503d;



// previous button

.prev-page-button {
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $darker-color;
  color: $white-color;
  box-shadow: 0 2px 4px rgba($darker-color, 0.3);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $light-color;
  }

  i {
    font-size: 20px;
  }
}

.page {
  
  img {
    display: block;
    width: 50%;
    height: auto;
  @media screen and (max-width: 1000px)  {
    display: none;
  }
  }
  
  

 
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      h1{
        color: $darker-color;
        font-weight: bolder;
      }
      h4{
        color: $purple-color;
      }
    } 
}
   
      .login-form {
        text-align: left;
        width: 50%;

  
        .welcome-text {
          font-size: 24px;
          color: $purple-color;
        }
    
        .form_input {
          width: 100%;
          padding: 12px;
          background-color: $input-color;
          border: none;
          border-radius: 12px;
        }
  
  
        .button {
          display: inline-block;
          padding: 14px 32px;
          background-color: $light-color;
          color: $white-color;
          border: none;
          border-radius: 50px;
          cursor: pointer;
  
          &:hover {
            background-color: $darker-color;
          }
        }
  
        .form_info {
          color: $purple-color;
          margin: 0;
        }
  
        .form_toogle {
          color: $light-color;
          text-decoration: underline;
          margin: 0;
        }
      }
    }
  
        /* Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $light-color;
    border-radius: 0px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }
