$darker-color: #103150;
$dark-color: #144162;
$light-color: #ff916c;
$purple-color: #4d5db5;
$white-color: #ffff;
$text-color: #150c28;

/* Global Styles */
body {
  background-color: whitesmoke;
  a {
    color: $dark-color;
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
    179.66deg,
    #144162 -67.96%,
    #4d5db5 32.71%,
    #144162 159.48%
  );
    padding: 50px 100px;
    border-radius: 0 0 20px 20px;

    @media screen and (min-width: 1000px) {
      width: calc(100% - 330px);
      margin-left: 315px;
    }

    .decription {
      width: 60%;
      padding: 0 20px;

      h1 {
        color: $light-color;
        font-size: 4rem;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        font-weight: 500;
        color: $white-color;
      }
    }

    img {
        width: 300px;
    }
  }

  main {
    @media screen and (min-width: 1000px) {
      width: calc(100% - 310px);
      margin-left: 310px;
    }

    // search

    .search-section {
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 20px;
      width: auto;
      margin: 20px 0;

      form {
        display: flex;
        align-items: center;
        justify-content: center;
        input,
        select {
          margin: 0 5px;
          border: none;
          border-radius: 50px;
          padding: 10px;
        }
        label {
          color: $light-color;
          margin-right: 10px;
        }
        button {
          margin: 0 5px;

          border: none;
          border-radius: 50px;
          padding: 10px;
          background-color: $purple-color;
          color: $white-color;
          &:hover {
            background-color: $dark-color;
          }
        }
      }
      @media screen and (max-width: 500px) {
        justify-content: center;
        form {
          flex-direction: column;

          .contain {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          button {
            width: 50%;
          }
        }
      }
    }

    // cards
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        gap: 20px;
      
        .card {
          display: flex;
          flex-direction: column;
          width: 300px;
          background-color: $white-color;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          border: none;
          overflow: hidden;
        }
      
        .card-img {
          flex: 0 0 150px;
          display: flex;
          align-items: center;
          justify-content: center;
      
          img {
            width: 120px;
            height: 120px;
            object-fit: cover;
          }
        }
      
        .card-content {
          flex: 1;
          padding: 20px;
      
          .card-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }
      
          .card-text {
            font-size: 14px;
            color: #555;
            margin-bottom: 8px;
          }
        }
      }
      
  }
}
